body {
    margin: 0;
    padding: 0;
    height: 100%;

}
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav content aside"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 10px;
}
.header {
    grid-area: header;
    background-color: lightseagreen;
    text-align: center;
    padding: 50px;

}

.nav {
    grid-area: nav;
    background-color: lightseagreen;
    text-align: center;
    padding: 50px;
}

.content {
    grid-area: content;
    background-color:lightseagreen;
    text-align: center;
     padding: 50px;
}

.aside {
    grid-area: aside;
    background-color: lightseagreen;
    text-align: center;
    padding: 50px;
}

.footer {
    grid-area: footer;
     text-align: center;
    padding: 50px;
    background-color: lightseagreen;
}